@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
}

body {
    width: 100svw;
    height: 100svh;
    font-size: 16px;
    overflow-x: hidden;
}
